<a href="https://colab.research.google.com/github/innoktive/alkemyTest/blob/main/Alkemy_CD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalación dependencias

In [ ]:
!python -m pip install requests
!python -m pip install SQLAlchemy

import pandas as pd
import requests

ARCHIVOS FUENTE <BR>
Ejecutamos una solicitud GET en el servidor de Google Drive para almacenar archivos CSV localmente.

In [ ]:
# Almacenamos la URL de descarga del archivo CSV desde el spreadsheet Salas de Cine en Google Drive
# en la variable csv_url, para realizar solicitud GET con REQUESTS
csv_url = 'https://docs.google.com/spreadsheets/d/1o8QeMOKWm4VeZ9VecgnL8BWaOlX5kdCDkXoAph37sQM/export?format=csv&id=1o8QeMOKWm4VeZ9VecgnL8BWaOlX5kdCDkXoAph37sQM&gid=1691373423'
res=requests.get(url=csv_url)
open('cines/septiembre-2022/cines-18-09-2022.csv', 'wb').write(res.content)

In [ ]:
# Almacenamos la URL de descarga del archivo CSV desde el spreadsheet Museos en Google Drive
# en la variable csv_url, para realizar solicitud GET con REQUESTS
csv_url = 'https://docs.google.com/spreadsheets/d/1PS2_yAvNVEuSY0gI8Nky73TQMcx_G1i18lm--jOGfAA/export?format=csv&id=1PS2_yAvNVEuSY0gI8Nky73TQMcx_G1i18lm--jOGfAA&gid=514147473'
res=requests.get(url=csv_url)
open('museos/septiembre-2022/museos-18-09-2022.csv', 'wb').write(res.content)

In [ ]:
# Almacenamos la URL de descarga del archivo CSV desde el spreadsheet Bibliotecas Populares en Google Drive
# en la variable csv_url, para realizar solicitud GET con REQUESTS
csv_url = 'https://docs.google.com/spreadsheets/d/1udwn61l_FZsFsEuU8CMVkvU2SpwPW3Krt1OML3cYMYk/export?format=csv&id=1udwn61l_FZsFsEuU8CMVkvU2SpwPW3Krt1OML3cYMYk&gid=1605800889'
res=requests.get(url=csv_url)
open('bibliotecas/septiembre-2022/bibliotecas-18-09-2022.csv', 'wb').write(res.content)

# Procesamiento de Datos

Normalización de datos

In [7]:
df = pd.read_csv('/content/bibliotecas/septiembre-2022/bibliotecas-18-09-2022.csv')
shape = df.shape
print('Numero de filas, columnas :', shape)

Numero de filas, columnas : (2017, 25)

In [8]:
df = pd.read_csv('/content/cines/septiembre-2022/cines-18-09-2022.csv')
shape = df.shape
print('Numero de filas, columnas :', shape)

Numero de filas, columnas : (329, 26)

In [9]:
df = pd.read_csv('/content/museos/septiembre-2022/museos-18-09-2022.csv')
shape = df.shape
print('Number of columns :', shape)

Number of columns : (1182, 24)

In [10]:
# Selección de columnas a utilizar por numero
col_nums = [1, 2, 3 ,5, 7, 9, 10, 11, 13, 15, 16, 17]
df_bibliotecas = pd.read_csv('/content/bibliotecas/septiembre-2022/bibliotecas-18-09-2022.csv', usecols=col_nums)
shape = df_bibliotecas.shape
print('Numero de filas, columnas :', shape)

Numero de filas, columnas : (2017, 12)

In [11]:
# Selección de columnas a utilizar por numero
col_nums = [1, 2, 3 ,5, 6, 8, 9, 10, 12, 14, 15, 16]
df_cines = pd.read_csv('/content/cines/septiembre-2022/cines-18-09-2022.csv', usecols=col_nums)
shape = df_cines.shape
print('Numero de filas, columnas :', shape)

Numero de filas, columnas : (329, 12)

In [12]:
# Selección de columnas a utilizar por numero
col_nums = [1, 2, 3 ,5, 7, 8, 9, 10, 12, 14, 15, 16]
df_museos = pd.read_csv('/content/museos/septiembre-2022/museos-18-09-2022.csv', usecols=col_nums)

shape = df_museos.shape
print('Numero de filas, columnas :', shape)

Numero de filas, columnas : (1182, 12)

In [22]:
# Combinacion de las 3 tablas en solo 1
frames = [df_bibliotecas, df_cines, df_museos]
result = pd.concat(frames)
result

,IdProvincia,IdDepartamento,Observacion,Subcategoria,Departamento,Nombre,Domicilio,Piso,Cod_tel,Mail,...,Observaciones,Provincia,Dirección,cod_area,subcategoria,localidad,nombre,direccion,piso,Latitud
0,70,70049,NaN,NaN,Iglesia,Biblioteca Popular Juan P. Garramuno,Santo Domingo,NaN,s/d,s/d,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,Simbrón 3058,NaN,11,asociacionroffo@yahoo.com.ar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular 12 de Octubre,Calle Arengreen 1187,NaN,11,popular12deoctubre@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular Villa Pueyrredón Norte,Cockrane 2334,NaN,11,bibliotecapueyrredon@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular Alberdi,Acevedo 666,NaN,11,bibliotecapopularalberdi@yahoo.com.ar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,90,90098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3867.0,Museos,Tafí del Valle,Museo Histórico Y Arqueológico Jesuítico La Banda,La Banda S/N,NaN,-268.528.800
1178,90,90105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Museos,Tafí Viejo,Mac-Museo Arqueológico El Cadillal,Centro Principal el Cadillal,NaN,-266.833.310
1179,90,90105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,381.0,Museos,Tafí Viejo,Museo Ferroviario De Los Talleres De Tafí Viejo,Avda. Pte. Roque Sáenz Peña 234,NaN,-267.407.330
1180,90,90105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,381.0,Museos,Villa El Cadillal,Museo Arqueológico Dr. Ernesto Padilla,Ernesto Padilla S/N,NaN,-219.376.420
1181,90,90098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Museos,Tafí del Valle,Asentamientos De Menhires En Las Áreas Arqueol...,NaN,NaN,-268.528.800

,IdProvincia,IdDepartamento,Observacion,Subcategoria,Departamento,Nombre,Domicilio,Piso,Cod_tel,Mail,...,Observaciones,Provincia,Dirección,cod_area,subcategoria,localidad,nombre,direccion,piso,Latitud
0,70,70049,NaN,NaN,Iglesia,Biblioteca Popular Juan P. Garramuno,Santo Domingo,NaN,s/d,s/d,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,Simbrón 3058,NaN,11,asociacionroffo@yahoo.com.ar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular 12 de Octubre,Calle Arengreen 1187,NaN,11,popular12deoctubre@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular Villa Pueyrredón Norte,Cockrane 2334,NaN,11,bibliotecapueyrredon@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,2000,NaN,NaN,Ciudad Autonoma de Buenos Aires,Biblioteca Popular Alberdi,Acevedo 666,NaN,11,bibliotecapopularalberdi@yahoo.com.ar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,90,90098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3867.0,Museos,Tafí del Valle,Museo Histórico Y Arqueológico Jesuítico La Banda,La Banda S/N,NaN,-268.528.800
1178,90,90105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Museos,Tafí Viejo,Mac-Museo Arqueológico El Cadillal,Centro Principal el Cadillal,NaN,-266.833.310
1179,90,90105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,381.0,Museos,Tafí Viejo,Museo Ferroviario De Los Talleres De Tafí Viejo,Avda. Pte. Roque Sáenz Peña 234,NaN,-267.407.330
1180,90,90105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,381.0,Museos,Villa El Cadillal,Museo Arqueológico Dr. Ernesto Padilla,Ernesto Padilla S/N,NaN,-219.376.420
1181,90,90098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Museos,Tafí del Valle,Asentamientos De Menhires En Las Áreas Arqueol...,NaN,NaN,-268.528.800

# Deploy

# Configuración

# Logs

# Bases de Datos

In [36]:
# Instalacion de PostreSql
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

 * Starting PostgreSQL 10 database server
   ...done.

In [37]:
# Configuracion de usuario: `postgres` y password:`postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

ALTER ROLE

In [16]:
# Configuración de DB con nombre `infoCultural`
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS infoCultural;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE infoCultural;'

NOTICE:  database "infocultural" does not exist, skipping
DROP DATABASE
CREATE DATABASE

In [42]:
# Realizando conexión
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/infoCultural

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/infoCultural

In [51]:
!psql --version

psql (PostgreSQL) 10.22 (Ubuntu 10.22-0ubuntu0.18.04.1)

In [57]:
!psql infoCultural

psql: FATAL:  role "root" does not exist

In [ ]:
# Escribiendo el DataFrame en PostgreSQL table

result.to_sql('infoCultural', con='', if_exists='replace')

# Conexión a la base de datos

In [ ]:
# Instalación de PostreSql
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres